/*hola*/
a {
  text-decoration: none; }

footer img {
  width: 20px;
  position: relative;
  bottom: 10px;
  margin: 5px; }

footer img {
  width: 20px;
  position: relative;
  bottom: 10px;
  margin: 5px; }
  footer img a {
    text-decoration: none; }
